# Python crash course
### Notebook by David F. Barrero

<img src="https://github.com/dfbarrero/pythonCourse/raw/master/crash/figs/python.png" width="500">

# Introduction
Python is a general‐purpose, high‐level, interpreted programming language

- *General‐purpose*: Many applications.
- *High‐level*: Abstract data structures, doing more with less code.
- *Interpreted*: No need to compile.

It emphasizes code readibility and programmer’s productivity


# History
Python was created by Guido van Rossum in the Netherlands.

- Python 2.0: Released on 2000
- Python 3.0: Released on 2008. Backwards‐incompatible

Python 3.X is the present but Python 2.x still popular.

<img src="https://github.com/dfbarrero/pythonCourse/raw/master/crash/figs/guido.jpg" width="250">

In [ ]:
import sys
print (sys.version)

## Variables

In [ ]:
numberA = 4

In [ ]:
numberB = 2.3

In [ ]:
numberA + numberB

In [ ]:
string = "Spam"

In [ ]:
boolean = True

Multiple assignment:

In [ ]:
a = b = c = 0

a

In [ ]:
type(numberA)

In [ ]:
del numberA

### Operators

#### Arithmetic operators

| Sign | Operator | 
| --- | --- |
| + | Addition |
| - | Subtraction |
| * | Multiplication |
| / | Division |
| % | Modulus |
| ** | Exponentiation |

#### Assignment operators

| Sign |
| --- |
| = | 
| += |
| -= |
| *= |
| /= |
| %= |
| **= |

## Input and casting

In [ ]:
name = input("What's your name? ")

In [ ]:
a = int(input("Number 'a': "))
b = float(input("Number 'b': "))

c = (a*b) / 2
c +=1
d = c ** 2

print("Result c: ", c)
print("Result d: ", d)

## Strings

In [ ]:
text = "Hello"
textB = 'Hello'

print(text)

### Strings concatenation

In [ ]:
"hello" + " there"

In [ ]:
"hello" " there"

In [ ]:
text + textB

In [ ]:
len("hello")

In [ ]:
len("Hello"); # A semicolon removes the cell's output

New Python element: Comments

### F-strings (from Python 3.6)

In [ ]:
name = "John"
age = 22

print(f"Hi {name}, you are {age} and next year you will be {age + 1}")

Old-style string formatting

In [ ]:
print("Hi " + name + ", you are " + str(age) + " and next year you will be " + str(age+1))

In [ ]:
print("Hi", name, ", you are", age, "and next year you will be", age+1)

In [ ]:
print("Hi %s, you are %d and next year you will be %d" % (name, age, age+1))

In [ ]:
print("Hi {}, you are {} and next year you will be {}".format(name, age, age+1))

### Slice notation

Format: *variable[start:stop:step]*

In [ ]:
a = "hello"

In [ ]:
a[2]

In [ ]:
a[2:4]

In [ ]:
a[:2]

In [ ]:
a[2:]

In [ ]:
a[2:] + a[:2]

In [ ]:
a[::2]

In [ ]:
a[::-1]

## Lists

**List**: An ordered collection of mutable data.
- Very powerful data structure, similar to an array.
- *Ordered*: Data in the list have a location.
- *Mutable*: Data can be modified.
- Data types can be different.

In [ ]:
mylist = [1, 2, 3, 4]

In [ ]:
print(mylist)

Lists support heterogeneus data.

In [ ]:
a = ['spam', 'eggs', 123]

a

Lists support slice notation!

In [ ]:
a[2]

In [ ]:
a[2] = 321
a

In [ ]:
a[1:]

In [ ]:
a[::-1]

In [ ]:
a + a

In [ ]:
len(a)

### Lists methods

In [ ]:
a = [66.25, 333, 333, 1, 1234.5]

In [ ]:
a.insert(2, -1)
a

In [ ]:
a.append(333)
a

In [ ]:
a.index(333)

In [ ]:
a.remove(333)
a

In [ ]:
a.reverse()
a

In [ ]:
a.sort()
a

In [ ]:
a.count(333)

## Conditions

In [ ]:
age = 20
name = "John"

if age > 18:
    print(f"{age} is bigger than 18")

New Python elements:
- Indentation

| Sign | Operator | 
| --- | --- |
| == | Equal |
| != | Not equal |
| > | Greater |
| < | Lower |
| >= | Greater or equal |
| <= | Lower or equal |
| == | Equal |
| and | Logical and |
| or | Logical or |
| not | Logical not |

In [ ]:
if (age > 18) and (name == "Biggus Dickus"):
    print("Hi Biggus")
else:
    print("Good bye")

In [ ]:
if age == 18:
    print("You are 18 years old")
elif age < 18:
    print("You are younger than 18 years old")
elif age > 18:
    print("You are older than 18 years old")
else:
    print("You should not be reading this")

## While loop

In [ ]:
a = 0

while a < 5:
    print(a)
    a += 1

## For loop

In [ ]:
for x in ['cat', 'window', 'dog']:
    print(x)

In [ ]:
for x in "Hello word":
    print(x)

In [ ]:
list(range(0, 5))

In [ ]:
for i in range(5):
    print(i)

In [ ]:
a = ['Mary', 'had', 'a']

for i in range(len(a)):
    print(i, a[i])

In [ ]:
for i, value in enumerate(a):
    print(i, value)

In [ ]:
names = ['Mary', 'John', 'Patrick']
years = [20, 12, 55]

for i, value in zip(names, years):
    print(i, value)

List comprehensions

In [ ]:
[x for x in range(10)]

In [ ]:
[x for x in range(10) if x%2 == 0]

## Functions

### Defining functions

In [ ]:
def printHello():
    print("Hello")
    
printHello()

In [ ]:
def printTwice(string):
    print(string)
    print(string)

printTwice("Hello, world")

In [ ]:
def computeSquare(x):
    """Takes a number and returns its square"""
    return x ** 2
    
computeSquare(3)

New Python feature:
- Docstrings

In [ ]:
help(computeSquare)

In [ ]:
help(help)

In [ ]:
dir()

In [ ]:
dir("hello")

### Default argument values

In [ ]:
def sumar(a, b):
    return a + b

restar(1, 2)

In [ ]:
def sumar(a, b=10):
    return a + b

print(sumar(1, 2))
print(sumar(1))

In [ ]:
print(sumar(1, 2))
print(sumar(a=2, b=1))

In [ ]:
def sumar(a = 1, b = 2):
    return a + b

print(sumar())
print(sumar(1))
print(sumar(b = 1))

### Tuples

**Tuple**: A sequence of items, very similar to lists.
- However they are not the same.
- Lists are *mutable*, tuples are *inmutable*.
- Tuples use to contain, usually, heterogeneus items.
- Lists use to contain, usually, homogeneus items, used to iterate.

In [ ]:
tup1 = 1, 2, 3

In [ ]:
tup2 = ("Hi", 1.1, 2)

In [ ]:
tup3 =(0, (1, 3), 2)

In [ ]:
tup1

In [ ]:
tup1[1]

In [ ]:
tup1[:2]

In [ ]:
"Hi" in tup2

In [ ]:
tup1[0] = 1 # It generates an error

In [ ]:
def reverse(a, b):
    return b, a

var1, var2 = reverse(1, 2)
print(f"var1={var1}, var2={var2}")

## Sets

**Set**: A collection of items, unordered with no duplicates.
- Membership testing.
- Eliminating duplicate entries.

In [ ]:
set1 = {"red", "blue"}

In [ ]:
set1

In [ ]:
"red" in set1

In [ ]:
"black" in set1

In [ ]:
set1[0] # It generates an error

In [ ]:
set_mix = set(['a', True, 33])

In [ ]:
type(set_mix)

In [ ]:
len(set_mix)

In [ ]:
33 in set_mix

In [ ]:
set1 = {"red", "blue", "black"}
set2 = {"red", "green", "black"}

set1.intersection(set2)

In [ ]:
set1.union(set2)

In [ ]:
set1.update(set2)

set1

## Dictionaries

Dictionary: A collection of pairs <key, value>
- Also named as \textit{associative array}, very similar to hash maps.
- Lists are indexed with a number, dictionaries use keys.
- Key: Numbers, strings, tuples and any inmutable type.

In [ ]:
tel = {'jack': 4098, 'sape': 4139}

In [ ]:
tel['guido'] = 4127
tel

In [ ]:
del tel['sape']
tel

In [ ]:
'guido' in tel

In [ ]:
for k, v in tel.items():
    print(k, v)

In [ ]:
for k in tel.keys():
    print(k)

## Modules

In [ ]:
import math

math.log(10)

In [ ]:
import math as m

m.log(10)

In [ ]:
from math import log
log(10)

In [ ]:
from math import *

sin(10)

Example 1: Open a web browser

In [ ]:
import webbrowser

webbrowser.open("https://www.reddit.com")

In [ ]:
import webbrowser as w

w.open("https://www.reddit.com")

Example 2: Plot

In [ ]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt

x = np.linspace(-5, 5)
plt.plot(x, np.sin(x))
plt.title("This is a sin")
plt.xlabel("x")
plt.ylabel("sin(x)")

## Classes

In [ ]:
class Vehicle:
    def __init__(self, colour):
        self.colour = colour
    def printColour(self):
        print(self.colour)
        
class Car:
    def __init__(self, colour, wheels=4):
        Vehicle.__init__(self, colour)
        self.wheels = wheels

In [ ]:
submarine = Vehicle("yellow")
submarine.printColour()

In [ ]:
print(submarine.colour)

In [ ]:
mycar = Car("red")
yourcar = Car("blue")

print(f"My car has {mycar.wheels} wheels and is {mycar.colour}")
print(f"Your car has {yourcar.wheels} wheels and is {yourcar.colour}")

if yourcar.colour in ("blue", "black"):
    print("I do not like your car")
else:
    print("I like your car")

## Exercises

### Strings and loops exercises

Exercises taken from https://pynative.com/python-basic-exercise-for-beginners/.

1.-  Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

Expected output:

~~~
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
~~~

In [ ]:
# Your code here

2.- Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "AI is cool" so you should display ‘A’, ‘ ’, ‘s’, ‘c’ and 'o'.

Expected output:

~~~
Original String: AI is cool
A
 
s
c
o
~~~

In [ ]:
# Your code here

3.- Write a function *remove_chars()* to remove characters from a string starting from zero up to n and return a new string.

For example:

* remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
* remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

In [ ]:
# Your code here

4.- Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Expected output:

~~~
Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False
~~~

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# Your code here

5.- Iterate the given list of numbers and print only those numbers which are divisible by 5.

Expected output:

~~~
Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55
~~~

In [ ]:
mum_list = [10, 20, 33, 46, 55]

# Your code here

6.- Write a program to find how many times substring “Emma” appears in the given string.

In [ ]:
str_x = "Emma is good developer. Emma is a writer"

# Your code here

7.- Print the following pattern:
```
1
2 2
3 3 3
4 4 4 4
```

8.- Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Expected output:
~~~
[25, 35, 40, 60, 90]
~~~

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

# Your code here

9.- Print multiplication table form 1 to 10.

Expected output:

```
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100 
```

In [ ]:
# Your code here

10.- Print downward Half-Pyramid Pattern with asterisks.

Expected output:

```
* * * * *  
* * * *  
* * *  
* *  
*
```

In [ ]:
# Your code here

11.- Write a function called *exponent(base, exp)* that returns an integer value of base raises to the power of exp.

Expected output:
~~~
base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)
~~~

In [ ]:
# Your code here

### Basic exercises solutions

1.-

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

2.-

In [ ]:
# accept input string from a user
word = "AI is cool"
print("Original String:", word)

# using list slicing
# convert string to list
# pick only even index chars
x = list(word)
for i in x[0::2]:
    print(i)

In [ ]:
# accept input string from a user
word = word = "AI is cool"
print("Original String:", word)

# get the length of a string
size = len(word)

# iterate a each character of a string
# start: 0 to start with first character
# stop: size-1 because index starts with 0
# step: 2 to get the characters present at even index like 0, 2, 4
print("Printing only even index chars")
for i in range(0, size - 1, 2):
    print("index[", i, "]", word[i])

3.-

In [ ]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

4.-

In [ ]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

5.-

In [ ]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

6.-

In [ ]:
def count_emma(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement) - 1):
        count += statement[i: i + 4] == 'Emma'
    return count

count = count_emma("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

7.-

In [ ]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

8.-

In [ ]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

9.-

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

10.-

In [ ]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

11.-

In [ ]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

### List exercises

1.- Given the following list, reverse it. 

Expected output: [500, 400, 300, 200, 100]

In [ ]:
list1 = [100, 200, 300, 400, 500]

# Your code here

2.- Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

Expected output: ['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

# Your code here

3.- Given a list of numbers. write a program to turn every item of a list into its square.

Expected output: [1, 4, 9, 16, 25, 36, 49]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

# Your code here

4.- Concatenate two lists in the following order:

Expected output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

# Your code here

5.- Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

Expected output: 
~~~
10 400
20 300
30 200
40 100
~~~

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# Your code here

6.- You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

Expected output: 
~~~
[5, 10, 15, 200, 25, 50, 20]
~~~

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

# Your code here

7.- Given a Python list, write a program to remove all occurrences of item 20.

Expected output:

~~~
[5, 15, 25, 50]
~~~

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

# Your code here

### List exercises solutions

1.-

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1 = list1[::-1]
print(list1)

2.-

In [ ]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

3.-

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

# result list
res = []
for i in numbers:
    # calculate square and add to the result list
    res.append(i * i)
print(res)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x * x for x in numbers]
print(res)

4.-

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

5.-

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

6.-

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

# get the first occurrence index
index = list1.index(20)

# update item present at location
list1[index] = 200
print(list1)

7.-

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

res = [i for i in list1 if i != 20]
print(res)

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

### Dictionary exercises

Exercises taken from https://holypython.com/beginner-python-exercises/exercise-8-python-dictionaries/, you can check out the solutions there.

When was Plato born?

In [ ]:
dictionary={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

# Type your answer below

Change Plato's birth year from B.C. 427 to B.C. 428.

In [ ]:
dictionary={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

# Type your answer below

Add a new 'work' entry with a list of books.

In [ ]:
dictionary = {"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}
work = ["Apology", "Phaedo", "Republic", "Symposium"]

# Type your answer below

Add 2 inches to the son's height.

In [ ]:
dictionary={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.

Using len function, find how many keys there are in the dictionary.

In [ ]:
dictionary={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.

### Set exercises

1.- Given a Python list, Write a program to add all its elements into a given set.

Expected output:
~~~
{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}
~~~

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

# Your code here

2.- Return a new set of identical items from two sets

Expected output:
~~~
{40, 50, 30}
~~~

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Your code here

3.- Write a Python program to return a new set with unique items from both sets by removing duplicates.

Expected output:
~~~
{70, 40, 10, 50, 20, 60, 30}
~~~

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Your code here

### Set exercises solutions

1.-

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

2.-

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

3.-

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

### Tuple exercises

1.- Reverse the tuple.

Expected output:
~~~
(50, 40, 30, 20, 10)
~~~

In [ ]:
tuple1 = (10, 20, 30, 40, 50)

# Your code here

2.- The given tuple is a nested tuple. write a Python program to print the value 20.

Expected output: 

~~~
20
~~~

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

# Your code here

3.- Create a tuple with single item 50.

In [ ]:
# Your code here

4.- Unpack the tuple into 4 variables.

Expected output:

~~~
tuple1 = (10, 20, 30, 40)
# Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40
~~~

In [ ]:
tuple1 = (10, 20, 30, 40)

# Your code here

5.- Swap two tuples in Python.

Expected output:
    
~~~
tuple1: (99, 88)
tuple2: (11, 22)
~~~

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

# Your code here

6.- Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222.

Expected output:

~~~
tuple1: (11, [222, 33], 44, 55)
~~~

In [ ]:
tuple1 = (11, [22, 33], 44, 55)

# Your code here

### Tuple exercises solutions

1.-

In [ ]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

2.-

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

# understand indexing
# tuple1[0] = 'Orange'
# tuple1[1] = [10, 20, 30]
# list1[1][1] = 20

print(tuple1[1][1])

3.-

In [ ]:
tuple1= (50, )
print(tuple1)

4.-

In [ ]:
tuple1 = (10, 20, 30, 40)

# unpack tuple into 4 variables
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

5.-

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print(tuple2)
print(tuple1)

6.-

tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

### OOP exercises

1.- Write a Python program to create a Vehicle class with max_speed and mileage instance attributes.

In [ ]:
# Define Vehicle class here

modelX = Vehicle(240, 18) # It raises an exception because there is no Vehicle class
print(modelX.max_speed, modelX.mileage)

### OOP exercises solutions

1.-

In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

modelX = Vehicle(240, 18)
print(modelX.max_speed, modelX.mileage)